@import "tailwindcss";

:root {
  --ungugelap : #5D5A88;
  --putih : #FFFFFF;
  --gelap : #242731;
  --ijo1 : #71c065;
  --ijo2 : #b6f5af;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--putih);
  color: var(--gelap);
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.dm-sans-uniquifier {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


